
*/target/

*/.idea/

Soot/out/

Soot/target/

*.class

Soot/android_jars/

Soot/dotFiles/

intentSender/api.key

Datasets/*

Soot/paths

Soot/manifest/

Soot/Applications_to_analise/

Apps/ComplexCalculator/.idea/
